section {
    background-color: rgb(20, 66, 52);
    padding: 20px 15px 20px 15px;
    margin: 0 25px 0 25px;
    color: rgb(236, 194, 4);
}


/*
section.primary {
    background-color: red;
}
*/

section:nth-child(odd) {
    background-color: rgb(236, 194, 4);
    color: rgb(20, 66, 52)
}

.fondo {
    background-image: url(../../assets/img/leon.png);
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    color: black;
}

.btn-vgrs {
    color: rgb(20, 66, 52);
    background-color: #CCB164;
    border-color: #99791D;
}

.btn-vgrs:hover {
    color: rgb(20, 66, 52);
    background-color: #FFCC96;
    border-color: #D6FFFF;
}